@import "tailwindcss";



@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
  --color-dark-yellow: #FFFF42;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}


@layer base {
  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }

  .dark {
    --bg-color: var(--color-dark-theme);
    --text-color: #ffffff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-outfit), var(--font-ovo), sans-serif;
}


@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
